<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Stock</title>
</head>
<body>
    <h1>Reporte de Stock</h1>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Stock Disponible</th>
                <th>Precio Unitario</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.stock }}</td>
                <td>${{ producto.precio }}</td>
                <td>${{ producto.stock * producto.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>